body {
    padding: 0;
    margin: 0;
}
.container_range {
    width:300px;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 70px 40px;
    
}

.range {
    width:100%;
    height:10px;
    background: rgb(175, 175, 175, 0.5);
    border-radius: 5px;
    position: relative;
}

.field_range {
    background: #00ffc8;
    height:10px;
    border-radius: 5px;
    position: absolute;
    width: 0%;
}

.thumb {
    position: absolute;
    top:-4px;   
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
    top: -4px;
    border: 1px solid #000;
    box-shadow: 1px 1px 0px #000;
}

.valueTop {
    height: 20px;
    background: #00ffc8;
    position: absolute;
    top:-45px;
    text-align: center;
    padding: 5px;
    font-weight: bold;;
}

.valueTopRight {
    left: 120px;
}

.hidden {
    display: none;
}

.steps {
    width:300px;
    height:15px;
    margin-top: 20px;
    display: flex;
}

.stepsIn {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

.startStep {
    margin-right: 5px;
}

.endStep {
    margin-right: -5px;
}


/* .steps {
    width: 100%;
    height: 50%;
    background: red;
    
} */