.options {
    width: 500px;
    height: 250px;
    border: 1px solid grey;
    margin-left: 50px;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
}

.options div {
    height:60px;
    display: flex;
}


.options span{
    background: #333;
    padding: 10px;
    color:#fff;
}

