.j-fer-slider__tip {
    height: 20px;
    background: #00ffc8;
    position: absolute;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    user-select: none;

    &_horizontal {
        top: -38px;
        border-radius: 5px 5px 5px 0px;
    }

    &_vertical {
        left: -38px;
        border-radius: 5px 5px 0px 5px;
    }
}