.j-fer-slider__step {
    width:100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    user-select: none;

    &_vertical {
      margin: 0 0 0 10px;
      flex-direction: column-reverse;
    }

    &_item {
      user-select: auto;
      }
  }