.j-fer-slider__step {
    display: flex;
    position: relative;
    padding: 0;
    list-style: none;
    user-select: none;

    &_vertical {
      width: 15px;
      margin: 0 15px;
      & li {
        transform: translateY(-50%);
      }
    }

    &_horizontal {
      height: 15px;
      margin: 8px 0;
      & li {
        transform: translateX(-50%);
      }
    }

    & li {
      position: absolute;
      padding: 5px;
      cursor: pointer;
    }

  }

.j-fer-slider__step-item:hover {
  background-color: #D7D7D7;
  border-radius: 5px;
}