@import 'View/components/bar/bar.scss';
@import 'View/components/range/range.scss';
@import 'View/components/step/step.scss';
@import 'View/components/thumb/thumb.scss';
@import 'View/components/tip/tip.scss';

.j-fer-slider {
  border-radius: 5px;
  position: relative;

  &_horizontal {
    width:100%;
    display: block;
  }
  
  &_vertical {
    height: 100%;
    display: flex;
  }
}