@import 'View/components/bar/bar.scss';
@import 'View/components/range/range.scss';
@import 'View/components/step/step.scss';
@import 'View/components/thumb/thumb.scss';
@import 'View/components/tip/tip.scss';

.j-fer-slider {
  display: flex;
  border-radius: 5px;
  position: relative;

  &_horizontal {
    width:100%;
    height:10px;
  }
  
  &_vertical {
      width: 10px;
      height: 100%;
    }
}