// @import url(../panel/blocks/panel-options/panel-options.scss);

.container {
  &__wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

.preview {
  width: 95%;
  margin: 50px auto;

  &__title {
    margin-bottom: 50px;
  }

  &__container-slider {
    width: 375px;
    height: 150px;
    margin: 0 auto;
  }

  &__container-panel {
    margin-top: 30px;
  }
}
