.j-fer-slider__tip {
  position: absolute;
  min-width: 30px;
  height: 20px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  background: #00ffc8;
  user-select: none;

  &_horizontal {
    top: -38px;
    border-radius: 5px 5px 5px 0;
  }

  &_vertical {
    right: -50%;
    border-radius: 5px 5px 0;
    transform: translate(-50%, -50%);
  }
}
