extends head.pug

block sliders
    .container__wrapper
        .preview.slider-1.js-slider-1
            span.preview__title Default slider
            .preview__slider-box.js-slider__container-slider-1
            .preview__panel-box.js-slider__container-panel-1
        .preview.slider-2.js-slider-2
            span.preview__title Vertical slider
            .preview__slider-box.js-slider__container-slider-2
            .preview__panel-box.js-slider__container-panel-2
        .preview.slider-3.js-slider-3
            span.preview__title Range slider:
            .preview__slider-box.js-slider__container-slider-3
            .preview__panel-box.js-slider__container-panel-3