extends head.pug

block sliders
  .container__wrapper
    .preview.slider-1.js-slider-1
      p.preview__title Default mode:
      .preview__container-slider.js-container__slider-1
      .preview__container-panel.js-container__panel-1
    .preview.slider-3.js-slider-3
      p.preview__title Vertical mode:
      .preview__container-slider.js-container__slider-3
      .preview__container-panel.js-container__panel-3
    .preview.slider-2.js-slider-2
      p.preview__title Double Range mode:
      .preview__container-slider.js-container__slider-2
      .preview__container-panel.js-container__panel-2