@import "View/components/bar/bar.scss";
@import "View/components/range/range.scss";
@import "View/components/step/step.scss";
@import "View/components/thumb/thumb.scss";
@import "View/components/tip/tip.scss";

.j-fer-slider {
  position: relative;
  border-radius: 5px;
  touch-action: none;

  &_horizontal {
    display: block;
    width: 100%;
  }

  &_vertical {
    display: flex;
    height: 100%;
  }
}
